<header>
  <div class="profile-picture profile-picture-animated anim-zoom-on-hover" style="background-image: url('{{ site.profile_picture_url | relative_url }}');"></div>
  <h1>{{ site.author_name }}</h1>
  <p class="description">{{ site.description }}</p>
  {% if site.summary %}
    <p class="summary">{{ site.summary }}</p>
  {% endif %}
  <ul class="social-links-list">
    {% for social in site.social_links %}
      <li>
        <a href="{{ social.url }}" target="_blank" rel="noopener noreferrer">
          <i class="fa-{{ social.icon_style | default: 'solid' }} fa-{{ social.icon_name | default: 'link' }}"></i>
        </a>
      </li>
    {% endfor %}
  </ul>
</header>